.posts-board {
  background-color: #E7EBF0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start
}

.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.post-body {
  overflow: overlay;
  padding: 25px;
  width: calc(100% - 50px);
  cursor: pointer;
}

.borad-title {
  text-align: initial;
}